@using Microsoft.AspNet.Identity
@model gadget_freak_backend.Models.BlogPost

@{
    ViewBag.Title = "Details";
    ViewBag.Selected = "Blog";
}

<div class="row blog-post" style="padding-top: 20px;">
    <!-- First Blog Post -->
    <div class="container">
        <div class="col-lg-12" style="background-color: #ffffff">
            <h3 style="padding-top: 15px">
                <a href="#" class="blog-title">@Model.Title</a>
            </h3>
            <p>
                <i class="fa fa-clock-o"></i> Posted on @Model.CreatedAt, 2015 at 10:00 PM by @Model.AspNetUsers.UserName.Split('@')[0]
                <br />
                Category: @Model.BlogCategory.Name
            </p>
            <hr>

            @if (Model.Image != null)
            {
                <a href="">
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Image)" class="img-responsive" />

                </a>
            }
            <br>
            <p>@Model.Content</p>
            @if (User.IsInRole("Admin"))
            {
                <a class="btn btn-remove pull-right" href="@Url.Action("Delete", "Blog", new {id = Model.Id})" style="height: 30px;"><i class="fa fa-trash-o fa-lg"></i></a>
            }
            @if (User.IsInRole("Admin") || User.Identity.GetUserId() == Model.UserId)
            {
                <a class="btn btn-remove pull-right" href="@Url.Action("Edit", "Blog", new {id = Model.Id})" style="height: 30px; margin-right: 10px;"><i class="fa fa-pencil-square-o fa-lg"></i></a>
            }

            @Html.ActionLink("Back to blog", null, null, null, new { href = Request.UrlReferrer, style="margin-bottom: 10px;" })
        </div>
    </div>
</div>
